venv/
.venv/
input/
.vscode/
output/
*.wav
debug_crops/
docs/
__pycache__/
*.mov
*.mp4
*.bin
srd/example_files
examples/*
packaging/build/
packaging/dist/
packaging/icon.icns
packaging/icon.ico
app_version.py